[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "curtailment"]
	path = curtailment
	url = https://github.com/martinlaw/curtailment
	shallow = true
	registered = true
